@import '../../Scss/var';

.error {
  color: red;
  font-size: 14px;
  text-align: center;

  &-container {
    position: absolute;
    width: 100%;
    padding: 7px 0;
    color: $homeTextColor;
    border: 1px solid $homeTextColor;
    background-color: white;
    border-radius: 5px;
  }
}
