.location-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  position: relative;
  height: 100%;
  width: 80%;

  &__location-icon,
  &__search-icon {
    width: 20px;
    height: 20px;
  }

  &__search-btn {
    cursor: pointer;
    background-color: transparent;
    height: 27px;
    width: 27px;
    margin-right: 4px;
    border-radius: 50%;
    transition: all 0.3s ease;
    z-index: 1000;

    &:hover {
      background-color: white;
    }
  }

  &__name {
    font-weight: 500;
    font-size: 18px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.247);
    text-align: center;
  }
}
