@import '../../Scss/var.scss';

.for-7-days {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  padding: 15px 0;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: rgba(2, 255, 255, 0.623);
  color: $homeTextColor;

  transition: all 0.5s ease;

  &--sunny {
    background-color: rgb(255, 215, 141);
  }
}
